include mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
  body
    +navbar
    div.bg-light
      h1.display-4.text-center.pt-5 Quienes somos
      div.container.pt-3 
        h4.text-center.pt-4.pb-5(style="font-weight: 200") Estamos para servirte desde el 2016, conoce como fue que poco a poco empezamos con este fantástico mundo de los cubos mágicos y otros juguetes de entretenimiento
             
    div.pt-2.container: div.row
      div.col-4
        img.img-fluid.rounded.mx-auto.d-block(src="/assets/yo.jpeg",  alt="", srcset="")
      div.col-8
        p(style="font-size: 24px; font-weight: 600").text-center Una tienda que empezó por un cubero como tú.
        p(style="font-size: 18px").text-center  Nos fundamos en el año 2016 gracias a Frank, en ese entonces un speedcuber adolescente que nos impulso para la venta de cubos mágicos enseñandonos los grandes beneficios que le trae a una persona saber armar el cubo. El gran problema de la época era que no existian muchos puntos de venta donde comprar cubos de marca a bajos precios. Debido a esta razón fundamos nuestra tienda física en la ciudad de Arequipa. Frank nos enseño como elegir los mejores cubos para nuestra clientela y sentó las bases de nuestra tienda.


    .bg-danger: .container.mt-5: .row.p-4
      .col-6: h3.text-light Obten mas detalles aqui! 
      .col-6: button.btn.btn-outline-warning MAS INFORMACION

    +footer
        
      

